* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --ff-title: 'Staatliches';
  --ff-text: 'Palanquin';
  --ff-footer: 'Open Sans';
  --ff-text-mb: 'Roboto';

  --fs-body: 1.6rem;
  --fs-title: 4rem;
  --fs-text: 2rem;
  --fs-footer: 1.4rem;

  --fc-title: hsla(0, 0%, 100%, 1);
  --fc-text: hsla(274, 84%, 12%, 1);
  --fc-buttom: hsla(232, 17%, 35%, 1);

  --bc-body: hsla(233, 100%, 97%, 1);
  --bc-body-bef: hsla(218, 17%, 62%, 1);
  --bc-buttom: hsla(312, 91%, 96%, 1);
  --bc-title: hsla(275, 18%, 79%, 1);
  --bc-body-dst: hsla(0, 0%, 100%, 1);
}

html {
  height: 100%;
}

img {
  width: 100%;
}

body {
  font-size: var(--fs-body);
  font-family: var(--ff-title);

  background: var(--bc-body);
}

.page {
  max-width: 38.4rem;

  margin: 0 auto;
}

header {
  margin: 0 0 14.7rem;
  padding-top: 3.2rem;

  text-align: center;

  background: var(--bc-body-bef);

  width: 100%;
  height: 27.9rem;
}

header img {
  width: 13.7rem;
  height: 13.7rem;
}

header h1 {
  font-weight: 400;
  font-size: var(--fs-title);
  line-height: 3.4rem;

  letter-spacing: 0.05em;

  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);

  color: var(--fc-title);

  background: var(--bc-title);

  padding: 0.8rem 8.4rem 0.7rem;

  margin: 3.2rem 0 4.3rem;
}

.text {
  font-family: var(--ff-text);
  font-weight: 400;
  font-size: var(--fs-text);
  line-height: 1.5rem;

  color: var(--fc-text);

  display: flex;
  align-items: center;
  text-align: center;

  width: 30.5rem;
  margin: auto;
}

.intro {
  display: none;
}

main {
  margin: 6.3rem 3.2rem 6rem;

  display: grid;
  gap: 3.6rem;
}

.card {
  position: relative;
  z-index: 1;
}

.card img {
  border-radius: 2rem;

  transition: all 200ms;

  animation: downtop 700ms backwards;
}

.card img:hover {
  transform: scale(1.1);
  filter: brightness(1.3);
}

.card:nth-child(3) {
  display: none;
}

.card:nth-child(6) {
  display: none;
}

.card h2 {
  position: absolute;
  top: 1.6rem;
  right: 1.6rem;

  font-weight: 400;
  font-size: var(--fs-text);
  line-height: 3.4rem;

  letter-spacing: 0.05em;

  color: var(--fc-buttom);

  background: var(--bc-buttom);
  border-radius: 2rem;

  width: fit-content;
  padding: 0 2.3rem 0 2.4rem;

  animation: topdown 700ms;
}

footer {
  text-align: center;

  font-family: var(--ff-footer);
  font-weight: 400;
  font-size: var(--fs-footer);
  line-height: 2.8rem;

  color: var(--fc-buttom);

  margin-bottom: 2rem;
}

footer a {
  text-decoration: none;
  font-weight: 700;

  color: var(--fc-buttom);

  transition: 100ms;
}

a:hover {
  color: rgb(82, 64, 64);
  font-size: 1.45rem;
}

@keyframes topdown {
  0% {
    opacity: 0;
    transform: translateY(-1.5rem);
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes downtop {
  0% {
    opacity: 0;
    transform: translatex(2.5rem);
  }

  100% {
    opacity: 1;
    transform: translatex(0);
  }
}

@media (min-width: 500px) {
  .page {
    margin: 0;
    padding: 0;

    max-width: 128.0rem;
  }

  main {
    grid-template-areas: "card1 card2"
      "card3 card4"
      "card5 card6";
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  h1 {
    font-size: 4.8rem;
  }

  .text {
    width: 100%;
    padding: 0 3.2rem;
  }
}

@media (min-width: 900px) {
  header {
    height: 100vh;
  }

  body {
    background: var(--bc-body-dst);
  }

  .page {
    display: grid;
    grid-template-columns: 1.24fr 3fr;
    grid-template-rows: 90vh 10vh;
  }

  header {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .text {
    display: none;
  }

  .intro {
    display: inline-block;

    font-family: 'Roboto';
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 2rem;

    text-align: center;
    padding: 0 5.4rem;

    color: var(--fc-title);
  }

  main {
    grid-column: 2/3;
    grid-row: 1/2;

    margin: 6.4rem 8.1rem 5rem 9.8rem;
    display: grid;
    gap: 3.2rem;
    grid-template-areas: "card1 card2 card3"
      "card4 card2 card6"
      "card4 card5 card6";
  }

  .card:first-child {
    grid-area: card1;
  }

  .card:nth-child(2) {
    grid-area: card2;
  }

  .card:nth-child(3) {
    display: block;
    grid-area: card3;
  }

  .card:nth-child(4) {
    grid-area: card4;
  }

  .card:nth-child(5) {
    grid-area: card5;
  }

  .card:last-child {
    display: block;
    grid-area: card6;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .card h2 {
    display: none;
  }

  footer {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}